<!doctype html>
<html ng-app="Demo">
<head>
    <meta charset="utf-8"/>

    <title>
        Creating A Simple Modal System In AngularJS
    </title>

    <link rel="stylesheet" type="text/css" href="./demo.css"></link>
</head>
<body ng-controller="AppController">

<h1>
    Creating A Simple Modal System In AngularJS
</h1>

<ul>
    <li>
        <a ng-click="alertSomething()">Alert something</a>
    </li>
    <li>
        <a ng-click="confirmSomething()">Confirm something</a>
    </li>
    <li>
        <a ng-click="promptSomething()">Prompt something</a>
    </li>
</ul>

<div
        bn-modals
        ng-show="subview"
        class="m-modals"
        ng-switch="subview">

    <!-- BEGIN: Alert Modal. -->
    <div
            ng-switch-when="alert"
            ng-controller="AlertModalController"
            class="modal">

        <p>
            {{ message }}
        </p>

        <p>
            <a ng-click="close()">Ok, I got it!</a>
        </p>

        <!-- This is to demonstrate that we can jump from one modal to another. -->
        <p>
            <a ng-click="jumpToConfirm()" class="jump">Jump over to the confirm modal</a>
        </p>

    </div>
    <!-- END: Alert Modal. -->


    <!-- BEGIN: Confirm Modal. -->
    <div
            ng-switch-when="confirm"
            ng-controller="ConfirmModalController"
            class="dial">

        <p>
            {{ message }}
        </p>

        <p>
            <a ng-click="confirm()">{{ confirmButton }}</a>
            &mdash;
            <a ng-click="deny()">{{ denyButton }}</a>
        </p>

    </div>
    <!-- END: Confirm Modal. -->


    <!-- BEGIN: Prompt Modal. -->
    <form
            ng-switch-when="prompt"
            ng-controller="PromptModalController"
            ng-submit="submit()"
            class="modal">

        <p>
            {{ message }}
        </p>

        <p ng-if="errorMessage">
            <strong>Sorry:</strong> {{ errorMessage }}
        </p>

        <p>
            <input type="text" ng-model="form.input"/>
        </p>

        <p>
            <a ng-click="submit()">Submit</a>
            &mdash;
            <a ng-click="cancel()">Cancel</a>
        </p>

    </form>
    <!-- END: Prompt Modal. -->

</div>
<!-- END: Modals Layout. -->


<!-- Load scripts. -->
<script type="text/javascript" src="../../vendor/angularjs/angular-1.3.15.min.js"></script>
<script type="text/javascript" src="../../vendor/angularjs/angular-animate-1.3.15.min.js"></script>
<script type="text/javascript">

    // Create an application module for our demo.
    var app = angular.module("Demo", ["ngAnimate"]);


    // -------------------------------------------------- //
    // -------------------------------------------------- //


    // I control the root of the application.
    app.controller(
            "AppController",
            function ($scope, modals) {

                // I open an Alert-type modal.
                $scope.alertSomething = function () {

                    // The .open() method returns a promise that will be either
                    // resolved or rejected when the modal window is closed.
                    var promise = modals.open(
                            "alert",
                            {
                                message: "I think you are kind of beautiful!"
                            }
                    );

                    promise.then(
                            function handleResolve(response) {

                                console.log("Alert resolved.");

                            },
                            function handleReject(error) {

                                console.warn("Alert rejected!");

                            }
                    );

                };


                // I open a Confirm-type modal.
                $scope.confirmSomething = function () {

                    // The .open() method returns a promise that will be either
                    // resolved or rejected when the modal window is closed.
                    var promise = modals.open(
                            "confirm",
                            {
                                message: "Are you sure you want to taste that?!"
                            }
                    );

                    promise.then(
                            function handleResolve(response) {

                                console.log("Confirm resolved.");

                            },
                            function handleReject(error) {

                                console.warn("Confirm rejected!");

                            }
                    );

                };


                // I open a Prompt-type modal.
                $scope.promptSomething = function () {

                    // The .open() method returns a promise that will be either
                    // resolved or rejected when the modal window is closed.
                    var promise = modals.open(
                            "prompt",
                            {
                                message: "Who rocks the party the rocks the body?",
                                placeholder: "MC Lyte."
                            }
                    );

                    promise.then(
                            function handleResolve(response) {

                                console.log("Prompt resolved with [ %s ].", response);

                            },
                            function handleReject(error) {

                                console.warn("Prompt rejected!");

                            }
                    );

                };

            }
    );


    // -------------------------------------------------- //
    // -------------------------------------------------- //


    // I control the Alert modal window.
    // --
    // NOTE: This controller gets "modals" injected; but, it is in no way
    // different than any other Controller in your entire AngularJS application.
    // It takes services, manages the view-model, and knows NOTHING about the DOM.
    app.controller(
            "AlertModalController",
            function ($scope, modals) {

                // Setup default values using modal params.
                $scope.message = ( modals.params().message || "Whoa!" );


                // ---
                // PUBLIC METHODS.
                // ---


                // Wire the modal buttons into modal resolution actions.
                $scope.close = modals.resolve;


                // I jump from the current alert-modal to the confirm-modal.
                $scope.jumpToConfirm = function () {

                    // We could have used the .open() method to jump from one modal
                    // to the next; however, that would have implicitly "rejected" the
                    // current modal. By using .proceedTo(), we open the next window, but
                    // defer the resolution of the current modal until the subsequent
                    // modal is resolved or rejected.
                    modals.proceedTo(
                            "confirm",
                            {
                                message: "I just came from Alert - doesn't that blow your mind?",
                                confirmButton: "Eh, maybe a little",
                                denyButton: "Oh please"
                            }
                            )
                            .then(
                                    function handleResolve() {

                                        console.log("Piped confirm resolved.");

                                    },
                                    function handleReject() {

                                        console.warn("Piped confirm rejected.");

                                    }
                            );

                };

            }
    );


    // -------------------------------------------------- //
    // -------------------------------------------------- //


    // I control the Confirm modal window.
    // --
    // NOTE: This controller gets "modals" injected; but, it is in no way
    // different than any other Controller in your entire AngularJS application.
    // It takes services, manages the view-model, and knows NOTHING about the DOM.



    // -------------------------------------------------- //
    // -------------------------------------------------- //


    // I control the Prompt modal window.
    // --
    // NOTE: This controller gets "modals" injected; but, it is in no way
    // different than any other Controller in your entire AngularJS application.
    // It takes services, manages the view-model, and knows NOTHING about the DOM.



    // -------------------------------------------------- //
    // -------------------------------------------------- //


    // I manage the modals within the application.



</script>

</body>
</html>