<h1 class="text-light" style="display: inline-block">
    <a ui-sref="main.tile_" class="button cycle-button">
        <span class="mif-arrow-left"></span>
    </a> Modificar acceso directo
</h1>
<!--<h1 class="text-light" style="display: inline-block">-->
    <!--&nbsp{{ $stateParams.id }}-->
<!--</h1>-->
<hr class="thin bg-grayLighter">
<form name="futbol_PortalBundle_tile" ng-submit="submit()" method="post">
    <div class="grid">
        <div class="row cells2">
            <div class="cell auto-size">
                <label class="input-control checkbox">
                    <input type="checkbox"
                           name="futbol_PortalBundle_tile[selected]"
                           ng-model="data['futbol_PortalBundle_tile[selected]']">
                    <span class="check"></span>
                    <span class="caption">Seleccionado</span>
                </label>

            </div>
        </div>
        <div class="row cells2">
            <div class="cell auto-size">
                <label>Fondo</label>

                <div class="input-control select full-size">

                    <select id="backgroung" name="futbol_PortalBundle_tile[backgroung]"
                            ng-model="data['futbol_PortalBundle_tile[backgroung]']">
                        <option value=""></option>
                        <option ng-repeat="(key, color) in styles.colors" value="{{ key }}">
                            {{ color }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="cell auto-size">
                <label>Tamaño</label>

                <div class="input-control select full-size">
                    <select id="size" name="futbol_PortalBundle_tile[size]"
                            ng-model="data['futbol_PortalBundle_tile[size]']">
                        <option value=""></option>
                        <option ng-repeat="(key, size) in styles.sizes" value="{{ key }}">{{ size }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row cells2">

            <div class="cell auto-size">
                <div class="input-control select full-size">
                    <label class="required">Efecto</label>
                    <select id="dataEffect" name="futbol_PortalBundle_tile[dataEffect]"
                            ng-model="data['futbol_PortalBundle_tile[dataEffect]']">
                        <option value=""></option>
                        <option ng-repeat="(key, effect) in styles.effects" value="{{ key }}">{{ effect }}</option>
                    </select>
                </div>
            </div>
            <div class="cell auto-size">
                <div class="input-control select multiple full-size">
                    <label>Contenidos</label>
                    <select id="contents"
                            name="futbol_PortalBundle_tile[contents][]"
                            ng-model="data['futbol_PortalBundle_tile[contents]']"
                            multiple="multiple">
                        <option ng-repeat="content in contents" value="{{ content.id }}">
                            {{ toStringContent(content) }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row cells2">
            <div class="cell auto-size">

                <label>Grupo</label>

                <div class="input-control select full-size">
                    <select id="tileGroup" name="futbol_PortalBundle_tile[tileGroup]"
                            ng-model="data['futbol_PortalBundle_tile[tileGroup]']">
                        <option value=""></option>
                        <option ng-repeat="tileg in tilegs" value="{{ tileg.id }}">
                            {{ tileg.title }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="cell auto-size">

                <label>Funcionalidad</label>

                <div class="input-control select full-size">
                    <select id="funcionalidad" name="futbol_PortalBundle_tile[funcionalidad]"
                            ng-model="data['futbol_PortalBundle_tile[funcionalidad]']">
                        <option value=""></option>
                        <option ng-repeat="_function in functions" value="{{ _function.id }}">
                            {{ _function.nombre }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button class="button success" type="submit" name="futbol_PortalBundle_tile[submit]">
            Aceptar
        </button>
        <a class="button" ui-sref="main.tile_">
            Cancelar
        </a>
    </div>

</form>