<h1 class="text-light">
    <a ui-sref="main.tile_" class="button cycle-button">
        <span class="mif-arrow-left"></span>
    </a> Show tile {{ $stateParams.id }}
</h1>
<hr class="thin bg-grayLighter">

<div class="grid">
    <div class="row cells2">
        <div class="">
            <div id="tile"
                 ng-class="[ tile.size ,'fg-white', 'bg-' + tile.backgroung, (tile.selected)?'element-selected':'' ]">

                <!-- Tile content -->
                <div class="tile-content">
                    <div class="live-slide" ng-repeat="content in tile.contents">
                        <!-- Type icon -->
                        <div ng-if="content.type == 'icon'" class="tile-content iconic">
                            <i ng-class="['icon', content.icon ]"></i>
                        </div>
                        <!-- Type image -->
                        <div ng-if="content.type == 'image'"
                             ng-class="['tile-content',(content.tipo == 'icon')?'iconic':'image-container']">
                            <div ng-if="content.tipo == 'image'" class="frame">
                                <img ng-src="{{ url }}/images/{{ content.path}}">
                            </div>
                            <img ng-if="content.tipo == 'icon'" class="icon"
                                 ng-src="{{ url }}/images/{{ content.path}}">
                        </div>
                        <!-- Type image-set -->
                        <div ng-if="content.type == 'image-set'" class="tile-content image-set">
                            <img ng-repeat="path in content.paths" ng-src="{{ url }}/images/{{ path}}">
                        </div>

                    </div>

                </div>

                <div ng-if="tile.size != 'tile-small'" class="tile-label">
                    {{ tile.funcionalidad.nombre }}
                </div>

            </div>
        </div>
        <div class="">
            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Background:</td>
                        <td>
                <span class="border-solid bg-{{ tile.backgroung }}">
                    &nbsp&nbsp&nbsp&nbsp
                </span> &nbsp {{ tile.backgroung }}
                        </td>
                    </tr>
                    <tr>
                        <td>TileGroup:</td>
                        <td>
                            {{ tile.tileGroup.title }}
                        </td>
                    </tr>
                    <tr>
                        <td>Size:</td>
                        <td>
                            {{ tile.size }}
                        </td>
                    </tr>
                    <tr>
                        <td>Funcionalidad:</td>
                        <td>
                            {{ tile.funcionalidad.nombre }}
                        </td>
                    </tr>
                    <tr>
                        <td>Selected:</td>
                        <td>
                            {{ tile.selected }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a class="button primary" ui-sref="main.tile_update({id:tile.id})">
    Update
</a>

