<h1 class="text-light">
    Content new
    <span class="mif-apps place-right"></span>
</h1>
<hr class="thin bg-grayLighter">
<div class="tabcontrol2">
    <ul class="tabs">
        <li ng-class="{active:tabcontrol=='icon'}">
            <a ng-click="tabcontrol = 'icon'">Icon</a>
        </li>
        <li ng-class="{active:tabcontrol=='image'}">
            <a ng-click="tabcontrol = 'image'">Image</a>
        </li>
        <li ng-class="{active:tabcontrol=='image-set'}">
            <a ng-click="tabcontrol = 'image-set'">ImageSet</a>
        </li>
    </ul>

    <div class="frames">
        <!-- Icon -->
        <div class="frame" ng-class="{active:tabcontrol=='icon'}">
            <form name="futbol_PortalBundle_icon" method="post" ng-submit="submitIcon()">
                <div class="grid">
                    <div class="row cells2">
                        <div class="cell auto-size">
                            <label>Icon</label>

                            <div class="input-control select full-size">
                                <select id="icon" name="futbol_PortalBundle_icon[icon]"
                                        ng-model="dataIcon['futbol_PortalBundle_icon[icon]']">
                                    <option value=""></option>
                                    <option ng-repeat="(key, icon) in styles.icons" value="{{ key }}">
                                        {{ icon }}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <button type="submit" class="button success">
                        Create
                    </button>
                </div>
            </form>
        </div>

        <!-- Imagen -->
        <div class="frame" ng-class="{active:tabcontrol=='image'}">
            <form name="futbol_PortalBundle_image" ng-submit="submitImage(data['futbol_PortalBundle_image[file]'])"
                  enctype="multipart/form-data">
                <div class="grid">
                    <div class="row cells2">
                        <div class="cell auto-size">
                            <label>Tipo</label>

                            <div class="input-control select full-size">
                                <select name="futbol_PortalBundle_image[tipo]"
                                        ng-model="data['futbol_PortalBundle_image[tipo]']">
                                    <option value="icon">icon</option>
                                    <option value="image">image</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell auto-size">
                            <label>Image</label>

                            <div class="input-control file full-size image_file">
                                <input type="file" ngf-select="" ng-model="data['futbol_PortalBundle_image[file]']"
                                       name="futbol_PortalBundle_image[file]" accept="image/*" required/>
                                <button class="button">
                                    <span class="mif-folder"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button class="button success" type="submit">
                        Create
                    </button>
                </div>
            </form>
        </div>

        <!-- ImageSet -->
        <div class="frame" ng-class="{active:tabcontrol=='image-set'}">
            <form name="futbol_PortalBundle_imageset" method="post" ng-submit="submitImageSet(dataImageSet)"
                  enctype="multipart/form-data">
                <div class="grid">
                    <div class="row cells2">
                        <div class="cell auto-size">
                            <label class="required">Images</label>

                            <div class="input-control file full-size image_file">
                                <input type="file" ngf-select="" name="futbol_PortalBundle_imageset[files][0]"
                                       ng-model="dataImageSet['futbol_PortalBundle_imageset[files][0]']">
                                <button class="button">
                                    <span class="mif-folder"></span>
                                </button>
                            </div>
                            <div class="input-control file full-size image_file">
                                <input type="file" ngf-select="" name="futbol_PortalBundle_imageset[files][1]"
                                       ng-model="dataImageSet['futbol_PortalBundle_imageset[files][1]']">
                                <button class="button">
                                    <span class="mif-folder"></span>
                                </button>
                            </div>
                            <div class="input-control file full-size image_file">
                                <input type="file" ngf-select="" name="futbol_PortalBundle_imageset[files][2]"
                                       ng-model="dataImageSet['futbol_PortalBundle_imageset[files][2]']">
                                <button class="button">
                                    <span class="mif-folder"></span>
                                </button>
                            </div>
                            <div class="input-control file full-size image_file">
                                <input type="file" ngf-select="" name="futbol_PortalBundle_imageset[files][3]"
                                       ng-model="dataImageSet['futbol_PortalBundle_imageset[files][3]']">

                                <button class="button">
                                    <span class="mif-folder"></span>
                                </button>
                            </div>
                            <div class="input-control file full-size image_file">
                                <input type="file" ngf-select="" name="futbol_PortalBundle_imageset[files][4]"
                                       ng-model="dataImageSet['futbol_PortalBundle_imageset[files][4]']">

                                <button class="button">
                                    <span class="mif-folder"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="button success" type="submit">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.image_file').input();
    var formatStateContent = function (state) {
        if (!state.id) {
            return state.text;
        }

        var value = state.text;

        return $(
                '<span class="border-solid padding-2 ' + state.element.value + '"></span>' +
                '<span>  ' + value + '</span>'
        );
    };
    $("#icon").select2({
        placeholder: "Seleccione el color",
        templateResult: formatStateContent,
        templateSelection: formatStateContent
    });
</script>