<h1 class="text-light">
    <a ui-sref="main.tilegroup" class="button cycle-button">
        <span class="mif-arrow-left"></span>
    </a> Detalles de grupo de accesos directos
</h1>
<hr class="thin bg-grayLighter">

<div class="grid">
    <div class="row cells2">
        <div class="">
            <div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Titulo:</td>
                        <td>
                            {{ tilegroup.title }}
                        </td>
                    </tr>
                    <tr>
                        <td>Tamaño:</td>
                        <td>
                            {{ tilegroup.size }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a class="button primary" ui-sref="main.tilegroup_update({id:tilegroup.id})">
    Modificar
</a>

